body {
    font-family: 'Arial', sans-serif;
    text-align: right;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.image-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides-container {
    width: 100%;
}

.slide {
    width: 100%;
    display: none; /* התמונות נסתרות כברירת מחדל ומוצגות דרך JS */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5); /* רקע חלקי עבור נראות טובה יותר */
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8); /* כהה יותר בעת הובר */
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

h3 {
    color: #333;
    margin: 10px 0;
}

p {
    color: #666;
    font-size: 16px;
}

.whatsapp-link {
    background-color: #25D366;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.whatsapp-link:hover {
    background-color: #128C7E;
}
